body {
    font-family: 'Ubuntu Mono', monospace;
    color: black;
}

.nav-link {
    color: black;
}

.flag {
    border-color: transparent;
}

.flag:hover {
    max-width: 120%;
}

.icon {
    max-width: 50%;
}

/* contact.html css */
#contact-form {
  margin: auto;
  margin-top: 4%;
}

#contact-title {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 1.5%;
}

#contact-desc {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 1%;
  color: gray;
}

.card {
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}
